.hw03-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 30px;
  background-color: #f7f9fc;
  flex: 1;
  padding: 50px;
}
