.profile-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  padding: 20px;
  background-color: rgb(225, 212, 165);
  border: 4px solid rgb(6, 69, 88);
  border-radius: 10px;
  font-size: 24px;
}

.profile-card-wrapper > img {
  width: 150px;
}
